<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="/style.css"></head>
<body>
  <% include partials/_header %>
         <table class="table">
        <thead>
          <tr>
            <th>User Id</th>
            <th>Short url</th>
            <th>Long url</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let id in urls){ %>
            <% for(let short in urls[id]){ %>
            <% if(id==ids){%>
          <tr>
            <td><%=id%></td>
            <td><%=short%></td>
            <td><%=urls[id][short]%></td>
              <td><a href="/urls/<%=short%>">Edit</a></td>
          <form method="POST" action="/urls/<%=short%>">
            <input type="hidden" name="_method" value="DELETE">
             <td><button type="submit" value="delete" name="delete">Delete</button></td> 
      </form> 
    </tr>
          <% } }} %>
        </tbody>
      </table>

</body>
</html>